Repository bminor/binutils-gdb: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-include-guards, check-gnu-style, check-whitespace

check-include-guards:
  name: check-include-guards
  language: python
  entry: gdb/check-include-guards.py

check-gnu-style:
  name: check-gnu-style
  language: script
  entry: gdb/contrib/check-gnu-style-pre-commit.sh
  verbose: true
  stages:
  - pre-commit

check-whitespace:
  name: check-whitespace
  language: script
  entry: gdb/contrib/check-whitespace-pre-commit.py
  pass_filenames: true
  stages:
  - pre-commit

Sparc: use BFD_RELOC_<n>_PLT_PCREL in favor of custom types
  bfd/bfd-in2.h
  bfd/elfxx-sparc.c
  bfd/libbfd.h
  bfd/reloc.c
  gas/config/tc-sparc.c
Due: none

S/390: use BFD_RELOC_<n>_PLT_PCREL in favor of custom types
  bfd/bfd-in2.h
  bfd/elf32-s390.c
  bfd/elf64-s390.c
  bfd/libbfd.h
  bfd/reloc.c
  gas/config/tc-s390.c
Due: none

bfd/ELF: fold BFD_RELOC_<arch>_IRELATIVE
  bfd/bfd-in2.h
  bfd/elf32-arm.c
  bfd/elf32-i386.c
  bfd/elf32-s390.c
  bfd/elf64-s390.c
  bfd/elf64-x86-64.c
  bfd/elfxx-sparc.c
  bfd/libbfd.h
  bfd/reloc.c
Due: none

bfd/ELF: fold BFD_RELOC_<arch>_COPY
  bfd/bfd-in2.h
  bfd/elf-m10300.c
  bfd/elf32-arc.c
  bfd/elf32-cris.c
  bfd/elf32-i386.c
  bfd/elf32-lm32.c
  bfd/elf32-m32r.c
  bfd/elf32-metag.c
  bfd/elf32-microblaze.c
  bfd/elf32-mips.c
  bfd/elf32-nds32.c
  bfd/elf32-or1k.c
  bfd/elf32-ppc.c
  bfd/elf32-s390.c
  bfd/elf32-sh.c
  bfd/elf32-tic6x.c
  bfd/elf32-tilepro.c
  bfd/elf32-v850.c
  bfd/elf64-mips.c
  bfd/elf64-ppc.c
  bfd/elf64-s390.c
  bfd/elf64-x86-64.c
  bfd/elfn32-mips.c
  bfd/elfxx-ia64.c
  bfd/elfxx-sparc.c
  bfd/elfxx-tilegx.c
  bfd/libbfd.h
  bfd/reloc.c
  gas/config/tc-ppc.c
  include/elf/cris.h
Due: none

bfd/ELF: fold BFD_RELOC_<arch>_GLOB_DAT
  bfd/bfd-in2.h
  bfd/elf-m10300.c
  bfd/elf32-arc.c
  bfd/elf32-arm.c
  bfd/elf32-cr16.c
  bfd/elf32-cris.c
  bfd/elf32-i386.c
  bfd/elf32-lm32.c
  bfd/elf32-m32r.c
  bfd/elf32-m68k.c
  bfd/elf32-metag.c
  bfd/elf32-nds32.c
  bfd/elf32-or1k.c
  bfd/elf32-ppc.c
  bfd/elf32-s390.c
  bfd/elf32-sh.c
  bfd/elf32-tilepro.c
  bfd/elf32-v850.c
  bfd/elf32-vax.c
  bfd/elf32-xtensa.c
  bfd/elf64-ppc.c
  bfd/elf64-s390.c
  bfd/elf64-x86-64.c
  bfd/elfxx-sparc.c
  bfd/elfxx-tilegx.c
  bfd/libbfd.h
  bfd/reloc.c
  gas/config/tc-ppc.c
  include/elf/cris.h
Due: none

bfd/ELF: fold BFD_RELOC_<arch>_J{,U}MP_SLOT
  bfd/bfd-in2.h
  bfd/elf-m10300.c
  bfd/elf32-arc.c
  bfd/elf32-arm.c
  bfd/elf32-cris.c
  bfd/elf32-i386.c
  bfd/elf32-lm32.c
  bfd/elf32-m32r.c
  bfd/elf32-m68k.c
  bfd/elf32-metag.c
  bfd/elf32-mips.c
  bfd/elf32-nds32.c
  bfd/elf32-or1k.c
  bfd/elf32-s390.c
  bfd/elf32-sh.c
  bfd/elf32-tic6x.c
  bfd/elf32-tilepro.c
  bfd/elf32-v850.c
  bfd/elf32-vax.c
  bfd/elf32-xtensa.c
  bfd/elf64-mips.c
  bfd/elf64-s390.c
  bfd/elf64-x86-64.c
  bfd/elfn32-mips.c
  bfd/elfxx-sparc.c
  bfd/elfxx-tilegx.c
  bfd/libbfd.h
  bfd/reloc.c
  include/elf/cris.h
Due: none

bfd/ELF: fold BFD_RELOC_<arch>_RELATIVE
  bfd/bfd-in2.h
  bfd/elf-m10300.c
  bfd/elf32-arc.c
  bfd/elf32-arm.c
  bfd/elf32-cris.c
  bfd/elf32-i386.c
  bfd/elf32-lm32.c
  bfd/elf32-m32r.c
  bfd/elf32-m68k.c
  bfd/elf32-metag.c
  bfd/elf32-nds32.c
  bfd/elf32-or1k.c
  bfd/elf32-s390.c
  bfd/elf32-sh.c
  bfd/elf32-tilepro.c
  bfd/elf32-v850.c
  bfd/elf32-vax.c
  bfd/elf32-xtensa.c
  bfd/elf64-s390.c
  bfd/elf64-x86-64.c
  bfd/elfxx-sparc.c
  bfd/elfxx-tilegx.c
  bfd/libbfd.h
  bfd/reloc.c
  include/elf/cris.h
Due: none

bfd/s12z: put relocations next to each other
  bfd/bfd-in2.h
  bfd/libbfd.h
  bfd/reloc.c
Due: none

aarch64: Add support for new BTI <target> "r"
  gas/config/tc-aarch64.c
  gas/testsuite/gas/aarch64/bti.d
  gas/testsuite/gas/aarch64/bti.s
  gas/testsuite/gas/aarch64/hint-bad.l
  gas/testsuite/gas/aarch64/system.d
  include/opcode/aarch64.h
  ld/testsuite/ld-aarch64/protections/bti-far-opt.d
  opcodes/aarch64-opc-2.c
  opcodes/aarch64-opc.c
  opcodes/aarch64-opc.h
  opcodes/aarch64-tbl.h
Due: none

Use skip_spaces in more places
  gdb/c-exp.y
  gdb/cli/cli-cmds.c
  gdb/cli/cli-decode.c
  gdb/cli/cli-script.c
  gdb/completer.c
  gdb/d-exp.y
  gdb/event-top.c
  gdb/go-exp.y
  gdb/infcmd.c
  gdb/objc-lang.c
  gdb/p-exp.y
  gdb/rust-parse.c
  gdb/symtab.c
  gdb/top.c
  gdb/utils.c
Due: check-gnu-style, check-whitespace

DAP: accept requests with '"arguments": null'
  gdb/python/lib/gdb/dap/server.py
Due: check-whitespace

Minor DAP test cleanups
  gdb/testsuite/gdb.dap/ada-arrays.exp
  gdb/testsuite/gdb.dap/ada-nested.exp
  gdb/testsuite/gdb.dap/ada-scopes.exp
  gdb/testsuite/gdb.dap/catch-exception.exp
Due: check-whitespace

gdb: make get_chars_per_line return an unsigned value
  gdb/cli-out.c
  gdb/top.c
  gdb/utils.c
  gdb/utils.h
Due: check-include-guards, check-gnu-style, check-whitespace

gdb: fix crashes and weird output from new boxed hint text
  gdb/main.c
  gdb/testsuite/gdb.base/startup-hints.exp
  gdb/top.c
Due: check-gnu-style, check-whitespace

gdb: new setting to disable progress bars
  gdb/NEWS
  gdb/cli-out.c
  gdb/doc/gdb.texinfo
  gdb/testsuite/gdb.debuginfod/build-id-no-debug-warning.exp
  gdb/testsuite/gdb.debuginfod/corefile-mapped-file.exp
  gdb/testsuite/gdb.debuginfod/crc_mismatch.exp
  gdb/testsuite/gdb.debuginfod/fetch_src_and_symbols.exp
  gdb/testsuite/gdb.debuginfod/solib-with-soname.exp
Due: check-gnu-style, check-whitespace

fixup! [SFrame-V3] gas: sframe: add handling for .cfi_register for FP and RA
  gas/gen-sframe.c
  gas/gen-sframe.h
Due: none

[pre-commit] Move codespell-log to post-commit
  .pre-commit-config.yaml
  gdb/contrib/codespell-log.sh
Due: check-whitespace

PR binutils/33485: LD/testsuite: Also XFAIL `ns32k-*-*' targets
  ld/testsuite/ld-archive/archive.exp
Due: none

LD/testsuite: Expand archive verification to `--whole-archive' feature
  ld/testsuite/ld-archive/abc.vd
  ld/testsuite/ld-archive/abtc.vd
  ld/testsuite/ld-archive/abwc.vd
  ld/testsuite/ld-archive/abwtc.vd
  ld/testsuite/ld-archive/archive.exp
  ld/testsuite/ld-archive/nx.nd
  ld/testsuite/ld-archive/ny.nd
  ld/testsuite/ld-archive/x.nd
  ld/testsuite/ld-archive/y.nd
Due: none

CRIS/LD/testsuite: Add tests for emulation switching
  ld/testsuite/ld-cris/archive.exp
Due: none

VMS/BFD: Fix a sign extension issue with archive symbol lookup
  bfd/vms-lib.c
  ld/testsuite/ld-archive/archive.exp
  ld/testsuite/ld-archive/x.s
  ld/testsuite/ld-archive/y.s
Due: none

LD/testsuite: Fix archive verification for Alpha/VMS
  ld/testsuite/ld-archive/archive.exp
Due: none

LD/testsuite: Expand archive verification to group feature
  ld/testsuite/ld-archive/abcg.vd
  ld/testsuite/ld-archive/abcn.ed
  ld/testsuite/ld-archive/abtctg.vd
  ld/testsuite/ld-archive/archive.exp
Due: none

gdb/testsuite: fix tcllint errors in gdb.base/startup-hints.exp
  gdb/testsuite/gdb.base/startup-hints.exp
Due: check-whitespace

Automatic date update in version.in
  bfd/version.h
Due: none

Re: LoongArch: Add linker relaxation support for R_LARCH_CALL30
  bfd/elfnn-loongarch.c
Due: none

gdb/doc: fix incorrect use of @value
  gdb/doc/gdb.texinfo
Due: check-whitespace

gdb: rename scoped_gdb_tty_state, and make it non-copyable
  gdb/cli/cli-cmds.c
  gdb/inflow.c
  gdb/terminal.h
Due: check-include-guards, check-gnu-style, check-whitespace

gdb: fix crash from 'shell' when GDB has no terminal
  gdb/inflow.c
  gdb/ser-unix.c
  gdb/serial.h
  gdb/terminal.h
  gdb/testsuite/gdb.base/shell-no-terminal.exp
Due: check-include-guards, check-gnu-style, check-whitespace

[gdb] Fix "the the"
  gdb/README
  gdb/aarch64-linux-nat.c
  gdb/ada-lex.l
  gdb/amdgpu-tdep.c
  gdb/arm-tdep.c
  gdb/doc/gdb.texinfo
  gdb/dwarf2/read.c
  gdb/gdbarch-gen.h
  gdb/gdbarch_components.py
  gdb/gdbthread.h
  gdb/minsyms.c
  gdb/ppc-linux-nat.c
  gdb/symtab.c
  gdb/symtab.h
  gdb/testsuite/gdb.base/corefile3.exp
  gdb/testsuite/gdb.base/stap-probe.exp
  gdb/testsuite/gdb.base/testenv.exp
  gdb/testsuite/gdb.cp/psymtab-parameter.exp
  gdb/testsuite/gdb.fortran/types.exp
  gdb/testsuite/gdb.python/py-styled-execute.exp
  gdb/testsuite/lib/dwarf.exp
Due: check-include-guards, check-gnu-style, check-whitespace

gdb: minor code cleanups in list_command
  gdb/cli/cli-cmds.c
Due: check-gnu-style, check-whitespace

gdb: shortcut 'list LINENO'
  gdb/cli/cli-cmds.c
Due: check-gnu-style, check-whitespace

Untabify gdb 'help' output
  gdb/cli/cli-cmds.c
  gdb/cli/cli-decode.c
  gdb/contrib/check-whitespace-pre-commit.py
  gdb/symfile.c
  gdb/testsuite/gdb.mi/mi-cli.exp
  gdb/tui/tui-regs.c
  gdb/ui-file.c
  gdb/ui-file.h
Due: check-include-guards, check-gnu-style, check-whitespace

gdb: trivial cleanups in minimal_symbol_is_less_than
  gdb/minsyms.c
Due: check-gnu-style, check-whitespace

gas: sframe: fix memory leak of remember_fre
  gas/gen-sframe.c
Due: none

[gdb/testsuite] Fix gdb.cp/typeid.exp with m32 PIE
  gdb/testsuite/gdb.cp/typeid.exp
Due: check-whitespace

Path conditions:
  check-include-guards: any of: ^(gdb(support|server)?)/.*\.h$, but not: .*/testsuite/.*
  check-gnu-style: any of: ^(gdb(support|server)?)/.*\.(c|h|cc)$, but not: .*/testsuite/.*
  check-whitespace: any of: ^(gdb(support|server)?)/.*$
