Repository bminor/binutils-gdb: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-include-guards, check-gnu-style, check-whitespace

Path conditions:
  check-include-guards: any of: ^(gdb(support|server)?)/.*\.h$, but not: .*/testsuite/.*
  check-gnu-style: any of: ^(gdb(support|server)?)/.*\.(c|h|cc)$, but not: .*/testsuite/.*
  check-whitespace: any of: ^(gdb(support|server)?)/.*$

Automatic date update in version.in
  bfd/version.h
Due: none

LoongArch: Add disassembly support for ud ui5
  binutils/testsuite/binutils-all/loongarch64/dis-amswap-ud-noaliases.d
  binutils/testsuite/binutils-all/loongarch64/dis-amswap-ud.d
  binutils/testsuite/binutils-all/loongarch64/dis-amswap-ud.s
  gas/testsuite/gas/loongarch/macro_ud.d
  include/opcode/loongarch.h
  opcodes/loongarch-dis.c
  opcodes/loongarch-opc.c
Due: none

Set GDB version number to 17.1.
  gdb/version.in
Due: check-whitespace

Bump GDB's version number to 17.1.90.DATE-git.
  gdb/version.in
Due: check-whitespace

PR 27666, bfd_check_format_matches
  bfd/format.c
Due: none

more solaris config tidies
  bfd/config.bfd
  ld/configure.tgt
Due: none

ld targ_extra_emuls and targ_extra_libpath
  ld/configure
  ld/configure.ac
Due: none

bfd ASSOCIATED_VECS
  bfd/configure
  bfd/configure.ac
  bfd/targets.c
Due: none

bfd: include: sframe: fix PR ld/32789
  bfd/elf-sframe.c
  bfd/elf64-s390.c
  bfd/elfxx-x86.c
  include/sframe-api.h
  ld/testsuite/ld-sframe/pr32789-1.rd
  ld/testsuite/ld-sframe/pr32789-1.sd
  ld/testsuite/ld-sframe/pr32789-1a.c
  ld/testsuite/ld-sframe/pr32789-1b.c
  ld/testsuite/ld-sframe/sframe.exp
  ld/testsuite/ld-x86-64/sframe-reloc-1.d
  libsframe/libsframe.ver
  libsframe/sframe.c
Due: none

libsframe: testsuite: fix build failure
  libsframe/testsuite/libsframe.encode/encode-1.c
  libsframe/testsuite/libsframe.find/findfre-1.c
  libsframe/testsuite/libsframe.find/findfunc-1.c
  libsframe/testsuite/libsframe.find/plt-findfre-1.c
  libsframe/testsuite/libsframe.find/plt-findfre-2.c
Due: none

Add back non-solaris ELF targets to solaris config
  bfd/config.bfd
  ld/configure.tgt
Due: none

gas/CFI: fix .cfi_escape parsing when equates are in use
  gas/dw2gencfi.c
  gas/testsuite/gas/cfi/listing.l
  gas/testsuite/gas/cfi/listing.s
Due: none

gas/x86: reduce / correct target checks for --64 command line option
  gas/config/tc-i386.c
Due: none

gas: stub out sframe-opt.c functions when SFrame is not supported
  gas/sframe-opt.c
Due: none

Fix crash if breakpoint commands contain detach or kill
  gdb/breakpoint.c
  gdb/testsuite/gdb.base/detach-in-breakpoint-commands.exp
Due: check-gnu-style, check-whitespace

Fix crash when breakpoint condition causes inferior exit
  gdb/infcall.c
  gdb/testsuite/gdb.base/exit-in-condition.exp
Due: check-gnu-style, check-whitespace

gdb/reverse: force direction to forward when stopping record
  gdb/record.c
  gdb/testsuite/gdb.reverse/basic-record-full.c
  gdb/testsuite/gdb.reverse/basic-record-full.exp
Due: check-gnu-style, check-whitespace

Revert "gdb: change blockvector::contains() to handle blockvectors with "holes""
  gdb/block-selftests.c
  gdb/block.c
Due: check-gnu-style, check-whitespace

Fix --help output
  gdb/main.c
Due: check-gnu-style, check-whitespace

Use string_view in user_reg_map_name_to_regnum
  gdb/aarch64-linux-tdep.c
  gdb/arm-linux-tdep.c
  gdb/arm-tdep.c
  gdb/ax-gdb.c
  gdb/csky-tdep.c
  gdb/eval.c
  gdb/guile/scm-frame.c
  gdb/i386-tdep.c
  gdb/infcmd.c
  gdb/nds32-tdep.c
  gdb/parse.c
  gdb/ppc-linux-tdep.c
  gdb/python/py-registers.c
  gdb/riscv-none-tdep.c
  gdb/rs6000-tdep.c
  gdb/stap-probe.c
  gdb/tracepoint.c
  gdb/user-regs.c
  gdb/user-regs.h
Due: check-include-guards, check-gnu-style, check-whitespace

Remove rust_parser::get_string
  gdb/rust-parse.c
Due: check-gnu-style, check-whitespace

Don't use stoken in rust-parse.c
  gdb/parse.c
  gdb/parser-defs.h
  gdb/rust-parse.c
Due: check-include-guards, check-gnu-style, check-whitespace

Use gdb_bfd_sections in more places
  gdb/compile/compile-object-load.c
  gdb/dwarf2/read.c
Due: check-gnu-style, check-whitespace

loongarch: add back support for object attributes v1
  gas/config/tc-loongarch.h
  gas/configure
  gas/configure.ac
Due: none

gdb: allow 'set args' and run commands to contain newlines
  gdb/NEWS
  gdb/doc/gdb.texinfo
  gdb/infcmd.c
  gdb/testsuite/gdb.base/inferior-args.exp
Due: check-gnu-style, check-whitespace

gas: add as_info() for informational diagnostics
  gas/as.h
  gas/messages.c
Due: none

Revert "gas: Don't skip SFrame FDE if .cfi_register specifies RA w/o tracking"
  gas/gen-sframe.c
Due: none

gas: sframe: ignore .cfi_offset for RA selectively
  gas/gen-sframe.c
Due: none
