Repository bminor/binutils-gdb: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-include-guards, check-gnu-style, check-whitespace

check-include-guards:
  name: check-include-guards
  language: python
  entry: gdb/check-include-guards.py

check-gnu-style:
  name: check-gnu-style
  language: script
  entry: gdb/contrib/check-gnu-style-pre-commit.sh
  verbose: true
  stages:
  - pre-commit

check-whitespace:
  name: check-whitespace
  language: script
  entry: gdb/contrib/check-whitespace-pre-commit.py
  pass_filenames: true
  stages:
  - pre-commit

more solaris tidies
  bfd/config.bfd
  ld/configure.tgt
  ld/po/BLD-POTFILES.in
Due: none

PR 33721 load/store of misaligned address
  libsframe/sframe.c
Due: none

Automatic date update in version.in
  bfd/version.h
Due: none

gdb: remove unused include from gdbtypes.c
  gdb/gdbtypes.c
Due: check-gnu-style, check-whitespace

gdb: remove unused includes from valops.c
  gdb/valops.c
Due: check-gnu-style, check-whitespace

[gdb] Fix style.indent in tclint.toml
  gdb/tclint.toml
Due: check-whitespace

bfd/ELF: Handle prstatus of 156 bytes in elf32_arm_nabi_grok_prstatus
  bfd/elf32-arm.c
Due: none

Minor test fix for gnat-llvm
  gdb/testsuite/gdb.ada/packed_record_2.exp
Due: check-whitespace

gdb: improve line number lookup around inline functions
  gdb/symtab.c
  gdb/testsuite/gdb.dwarf2/dw2-inline-bt.c
  gdb/testsuite/gdb.dwarf2/dw2-inline-bt.exp
  gdb/testsuite/gdb.opt/inline-bt.c
  gdb/testsuite/gdb.opt/inline-bt.exp
Due: check-gnu-style, check-whitespace

[gdb/contrib] Add tcllint->tclint in codespell-dictionary.txt
  gdb/contrib/codespell-dictionary.txt
Due: check-whitespace

gdb: replace msym_bunch with deque
  gdb/minsyms.c
  gdb/minsyms.h
Due: check-include-guards, check-gnu-style, check-whitespace

gdb, btrace: fix assert with gcc-15
  gdb/btrace.c
Due: check-gnu-style, check-whitespace

binutils-gdb/git: Handle *.ac and *.m4 files in .gitattributes
  .gitattributes
Due: none

Add Do_Nothing to two more Ada tests
  gdb/testsuite/gdb.ada/py_taft/pkg.adb
  gdb/testsuite/gdb.ada/py_taft/pkg.ads
  gdb/testsuite/gdb.ada/recursive-variant/main.adb
  gdb/testsuite/gdb.ada/recursive-variant/pck.adb
  gdb/testsuite/gdb.ada/recursive-variant/pck.ads
Due: check-whitespace

gdb/testsuite: fix tclint errors
  gdb/testsuite/gdb.dwarf2/dw2-inline-bt.exp
Due: check-whitespace

Don't use "module" name
  gdb/compile/compile-object-run.c
  gdb/compile/compile-object-run.h
  gdb/d-namespace.c
  gdb/python/py-events.h
  gdb/python/py-evts.c
  gdb/python/py-framefilter.c
  gdb/python/py-record-btrace.c
  gdb/python/py-utils.c
  gdb/python/python-internal.h
  gdb/python/python.c
  gdbsupport/common-debug.cc
  gdbsupport/common-debug.h
Due: check-include-guards, check-gnu-style, check-whitespace

MAINTAINERS: move three people to "Past Maintainers"
  binutils/MAINTAINERS
Due: none

bfd: correct dir separator conversion for Win32
  bfd/bfdio.c
Due: none

Add windres to TOOL_PROGS
  binutils/Makefile.am
  binutils/Makefile.in
Due: none

bfin: avoid gcc extension using __VA_ARGS__
  opcodes/bfin-dis.c
Due: none

Re: asan: alpha-vms: mmember access within null pointer
  bfd/bfdio.c
  bfd/vms-lib.c
Due: none

TODO: fixup! s390: gas: sframe: Represent .cfi_register FP/RA using FLEX_TOPMOST_FRAME
  gas/testsuite/gas/cfi-sframe/cfi-sframe-s390x-fpra-register-1.d
  gas/testsuite/gas/cfi-sframe/cfi-sframe-s390x-fpra-register-2.d
Due: none

s390: gas: sframe: Represent .cfi_register FP/RA using FLEX_TOPMOST_FRAME
  gas/gen-sframe.c
  gas/testsuite/gas/cfi-sframe/cfi-sframe-s390x-fpra-register-1.d
  gas/testsuite/gas/cfi-sframe/cfi-sframe-s390x-fpra-register-2.d
  include/sframe.h
  libsframe/sframe-dump.c
Due: none

TODO
  libsframe/sframe-dump.c
  libsframe/sframe.c
Due: none

libsframe: textual dump of fde type SFRAME_FDE_TYPE_FLEX_TOPMOST_FRAME
  libsframe/sframe-dump.c
  libsframe/sframe.c
Due: none

gas: sframe: output new FDE type SFRAME_FDE_TYPE_FLEX_TOPMOST_FRAME
  gas/gen-sframe.c
Due: none

TEST: s390: sframe: Represent .cfi_register FP/RA using SFrame V2 encoding
  gas/gen-sframe.c
  libsframe/sframe-dump.c
Due: none

TODO: fixup! s390: sframe: gas: Represent .cfi_def_cfa[_register] for non-SP/FP reg. using FLEX_TOPMOST_FRAME
  gas/testsuite/gas/cfi-sframe/cfi-sframe-s390x-non-spfp-cfa-1.d
  gas/testsuite/gas/cfi-sframe/cfi-sframe-s390x-non-spfp-cfa-2.d
Due: none

fixup! [SFrame-V3] sframe: gas: translate specific CFI directives for SFRAME_FDE_TYPE_FLEX_TOPMOST_FRAME
  gas/gen-sframe.c
Due: none

s390: sframe: gas: Represent .cfi_def_cfa[_register] for non-SP/FP reg. using FLEX_TOPMOST_FRAME
  gas/gen-sframe.c
  gas/testsuite/gas/cfi-sframe/cfi-sframe-s390x-err-1.d
  gas/testsuite/gas/cfi-sframe/cfi-sframe-s390x-err-2.d
  gas/testsuite/gas/cfi-sframe/cfi-sframe-s390x-non-spfp-cfa-1.d
  gas/testsuite/gas/cfi-sframe/cfi-sframe-s390x-non-spfp-cfa-1.s
  gas/testsuite/gas/cfi-sframe/cfi-sframe-s390x-non-spfp-cfa-2.d
  gas/testsuite/gas/cfi-sframe/cfi-sframe-s390x-non-spfp-cfa-2.s
  gas/testsuite/gas/cfi-sframe/cfi-sframe.exp
Due: none

Revert "TEST: s390: sframe: Represent .cfi_register FP/RA using SFrame V2 encoding"
  gas/gen-sframe.c
  libsframe/sframe-dump.c
Due: none

fixup! [SFrame-V3] gas: sframe: add handling for .cfi_register for FP and RA
  gas/gen-sframe.c
Due: none

Path conditions:
  check-include-guards: any of: ^(gdb(support|server)?)/.*\.h$, but not: .*/testsuite/.*
  check-gnu-style: any of: ^(gdb(support|server)?)/.*\.(c|h|cc)$, but not: .*/testsuite/.*
  check-whitespace: any of: ^(gdb(support|server)?)/.*$
